@import url('https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@300&family=Anek+Odia:wght@200;300&family=Montserrat:wght@300&family=Roboto+Slab:wght@300&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Anek Bangla', sans-serif;

}
body{
    overflow-x: hidden;
    display: flex;
    
}
.logo{
    width: 110px;
    
}
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #0A0902;
    background: #E5F1F8;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0%;
}

header ul{
    position: relative;
    display: flex;
}
header ul li{
    list-style: none;
}
header ul li a{
    display:inline-block;
    color:#0A0902;
    font-weight: 500;
    margin-left: 40px;
    text-decoration: none;
    font-size: 25px ;
    letter-spacing: 2px;
}
.menun:hover{
    color: #9D9172;
    transition: 0.3s
}
header ul li{
    list-style: none;
}
.content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content .textBox{
    position: relative;
    width: 600px;
}
.content .textBox h2{
    color:#606661 ;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 500;
}
.content .textBox h2 span{
    color: #9D9172;
    font-size: 1.6em;
    font-weight: 900;
}
.content .textBox a{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #9D9172;
    color: #E5F1F8;
    text-decoration: none;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 2px;
    
}
.content .textBox a:hover{
    transform: translateY(-1.5%);
}
.content .imgBox{
    display: flex;
    width: 700px;
    justify-content: flex-end;
    padding-top: 50px;
    margin-right: 110px;
    margin-bottom: 10px;
}
.content .imgBox img{
    max-width: 600px;
}
.thumb{
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
}
.thumb li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}
.thumb li:hover{
    transform: translateY(-15px);
}
.thumb li img{
    max-width: 110px;
}
.sci{
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateX(-90%);
    display: flex;
    align-items: center;
    flex-direction: column;
}
.sci li{
    list-style: none;
}
.sci li a{
    display: inline-block; 
    margin: 5px 0;
    transform: scale(0.6); 
    padding-block: 15px;
    padding-bottom: 50px;

}
.sci li a img{
    max-width: 30px;
}

.circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #9D9172;
    clip-path: circle(500px at right 680px);
}
@media screen and (max-width: 933px){
    nav {
    display: none;
}
.content{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
}
.sci{
        display: none;
}
content .imgBox img{
        max-width: 100px;
        
}
.circle{ 
        display: none;
}

}